html,body {
    height: 100%;
    background-color: #dddddd;
}
a {
    text-decoration: none;
}
.container {
    margin: 0 15px;
    height: 100%;
}
.menu {
    height: 10%;
}
.menu .menu-img {
    width: 200px;
    height: 100%;
}
.banners {
    height: 80%;
}
.banners .banner {
    height: 25%;
    padding: 10px 0;
    box-sizing: border-box;
}
.banners .banner .banner-img {
    width: 100%;
    height: 100%;
}
.footer {
    height: 10%;
    position: relative;
}
.footer .traffic {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
